

@@media screen and (max-width: 1108px) {
  .wrapper {
    width: 90%;
  }

  #social {
    position: absolute;
    top: 82px;
    right: 4px;
  }
}

@@media screen and (max-width: 900px) {
  body {
    font-size: 85%;
  }

  h1#logo {
    height: 35px;
    width: 35px;
  }

  h2#logo {
    font-size: 2.2em;
  }

  .col-3 p {
    column-count: 2;
  }
}

@@media screen and (max-width: 75px) {
  #navbar nav a {
    font-size: 9em;
  }

  .col-3 p {
    column-count: 1;
    width: 100%;
    margin-left: 0;
    float: none;
  }
}
